<mat-dialog-content >
    <p class="my-2"> Add Quiz</p>
    <form [formGroup]="quizForm" (ngSubmit)="onsubmit()">
      <div>
        <mat-form-field class="w-full">
        <p>Topic</p>
        <input style="padding:15px;width: 69% ;" matInput placeholder="Quiz topic"  formControlName="title">
      </mat-form-field>
    </div>
      <div>
        <mat-form-field class="w-full">
          <p>Content</p>
        <textarea [rows]="8"  style="padding: 50px;width:60%;" type="text" formControlName="description" ></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-full">
        <p>Maximum Grade</p>
        <input style="padding:10px;width: 70% ;"  type="number" matInput placeholder="Enter a number"  formControlName="grade">
      </mat-form-field>
    </div>
      <br>
      <mat-dialog-actions>
        <button mat-raised-button type="submit"  style="background-color: rgba(45, 45, 209, 0.932) ; color: white;"  [disabled]="!quizForm.valid " >Submit</button>
        <button mat-raised-button style="margin-left: 15px;" (click)="closeModal()" >Cancel</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>

