
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="p-4 my-3">

  <div>
    <h1 class="course-title text-2xl font-extrabold" *ngIf="course!=null">
      {{course.name.toUpperCase()}} - {{course.semester.toUpperCase()}} {{course.year}}
    </h1>
  </div>
  <hr>

<div class="ml-4 mt-2">
  <button *ngIf="userType=='faculty'" mat-flat-button color="primary" class="my-5" (click)="openDialog()">Add new announcements</button>

  <h3 class="font-extrabold underline text-lg"> Announcements for the course </h3>
  <br>
  <ul class="list-disc" *ngFor="let announcement of announcements">
    <li>{{announcement.announcementText}}</li>
    <span class="mt-2 block text-xs font-bold decoration-gray-900" > Posted at - {{announcement.datePosted}}</span>
    <hr>
    <br>
  </ul>
</div>
</div>
<notifier-container></notifier-container>
